@use '../abstracts/variables' as *;

.student {
  margin: .2rem;
  width: 30%;
  height: 15rem;
  display: flex;
  justify-content: space-between;

  background: rgba($color-light, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba($color-dark, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba($color-light, 0.3);
  padding: 2rem;
}